#content{
    padding: 0px;
}
#attendance h2{
    padding: 25px;
}
#attendance .table{
    text-align: center;
}
#attendance input{
    margin-bottom: 35px;
    text-align: center;
}
@media (max-width: 767px){
    #attendance table{
        font-size: medium;
    }
}

@media (max-width: 500px){
    #content table{
        font-size: small;
    }
    tr th:nth-child(1),tr td:nth-child(1){
        display: none;
    }
}