#content{
    padding: 0;
    height: auto;
}
#leave{
    padding: 0px 90px;
}
@media (max-width: 991px){
    #leave{
        padding: 20px 10px;
    }
}
#leave h2{
    padding: 20px;
}
#leave div{
    padding: 15px 2px;
}
#leave .label{
    float: left;
    text-align: end;
    font-size: medium;
}
#leave .input{
    float: left;
    text-align: start;
    font-size: 12px;
    min-height: 75px;
}
#leave .label1{
    float: left;
    font-size: medium;
    text-align: end;
}
#leave .input1{
    float: left;
    text-align: start;
}
#leave .input1 textarea{
    width: 75%;
    resize: none;
    margin-left: 5px;
}
#leave .input input[type="date" i]{
    text-align: center;
    height: 24px;
    width: 145px;
    font-size: revert;
}
#leave .input select{
    height: 27px;
    width: 145px;
    margin-left: 5px;
    border-color: black;
    padding: 0px 10px;
    font-size: revert;
}
#leave .input input{
    margin-left: 5px;
}
#l_btn{
    margin: 20px;
}

@media (max-width: 767px){
    #leave{
        padding: 20px 40px;
    }
    #leave .label{
        font-size: smaller;
    }
    #leave .input{
        font-size: x-small;
    }
    #leave .label1{
        font-size: smaller;
    }
    #leave .input1{
        font-size: x-small;
    }
    #leave .input input[type="date" i]{
        height: 25px;
        width: 125px;
        font-size: larger;
    }
    #leave .input select{
        height: 25px;
        width: 125px;
    }
    #leave table{
        font-size: medium;
    }
}

@media (max-width: 577px){
    #leave{
        padding: 0px;
    }
    #leave .label{
        float: left;
        width: 45%;
        font-size: smaller;
    }
    #leave .input{
        float: left;
        width: 55%;
        font-size: x-small;
    }
    #leave .label1{
        float: left;
        font-size: smaller;
        width: 45%;
    }
    #leave .input1{
        float: left;
        width: 55%;
        font-size: x-small;
    }
    #leave .input textarea{
        width: 90%;
        margin-left: 5px;
    }
    #leave table{
        font-size: small;
    }
}