body{
    margin: 0;
    padding: 0;
}

#navbar{
    background-color: #8ED6FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
#logo_name img{
    height: auto;
    width: 6rem;
}
#logo_name h2{
    display: inline;
    margin: 1.15rem;
}
#profile .card{
    border: 3px solid black;
    border-radius: 40px;
}
#profile button{
    border: 0;
    padding: 0;
    background-color: white;
    border-radius: 50px;
}
#profile svg{
    width: 2rem;
    height: auto;
    margin-right: 5px;
}
#profile h5{
    display: inline;
}

#side_content{
    padding: 0;
    background-color: rgb(110, 138, 138);
}
#sidebar{
    float: left;
    margin: 15px;
    height: fit-content;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    background-color: #111;
}
.sidebar a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidebar a:hover {
    color: #f1f1f1;
}
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
}
.openbtn{
    font-size: 25px;
    cursor: pointer;
    background-color: #111;
    color: white;
    border: none;
    border-radius: 9px;
}  
.openbtn:hover {
    background-color: #444;
}

#content{
    text-align: center;
}
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
#sidebar .card{
    width: 184px;
    border: 3px solid black;
    border-radius: 30px;
    margin-bottom: 5px;
}
#sidebar .card-header{
    padding-top: 7px;
    padding-bottom: 4px;
    padding-left: 25px;
}
#sidebar button{
    width: 184px;
    margin-bottom: 5px;
    border: 3px solid black;
    padding: 8px 16px 8px 16px;
    background-color: white;
    border-radius: 40px;
    font-size: 15px;
    display: block;
}
#sidebar .card button{
    width: auto;
    border: 0;
    background-color: white;
    border-radius: 50px;
    padding: 0;
}

#content{
    margin-left: 220px;
    background-color: white;
    min-height: 84vh;
}

@media (max-width: 767px){
    #side_content{
        background-color: white;
    }
    #logo_name img{
        width: 5rem;
        height: auto;
    }
    #logo_name h2{
        display: none;
    }
    #profile .card-header{
        padding-top: 8px;
        padding-bottom: 8px;
    }
    #profile svg{
        width: 1.5rem;
        height: auto;
    }
    #profile h5{
        font-size: 1rem;
    }
    .sidebar{
        z-index: 1;
        top: 0;
        left: 0;
        padding-top: 60px;
        overflow-x: hidden;
        transition: 0.5s;
    }
    #sidebar{
        display: contents;
    }
    #content{
        font-size: medium;
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 500px){
    #profile svg{
        width: 1.5rem;
    }
    #profile h5{
        font-size: 13px;
        padding-right: 7px;
    }
    #profile b{
        font-size: 12px;
    }
    #profile .card{
        border: 3px solid white;
        border-radius: 20px;
    }
    #profile .card-header{
        padding: 0px 1px 0px 5px;
    }
    #content{
        font-size: small;
        padding: 0;
        margin: 0;
    }
}