#content{
    padding: 0;
}
#content h2{
    padding: 25px;
}
#content input{
    margin-top: 20px;
    margin-bottom: 40px;
}
#content select{
    width: 40%;
    margin-bottom: 40px;
}

@media (max-width: 767px){
    #content select{
        width: 60%;
    }
    #content option{
        font-size: medium;
    }
}

@media (max-width: 500px){
    #posting{
        font-size: smaller;
    }
}