#content{
    padding: 0;
}
#content h2{
    padding: 25px;
}
#content input{
    margin-top: 20px;
    margin-bottom: 40px;
}
#content select{
    width: 40%;
    margin-bottom: 40px;
}
#content .label{
    float: left;
    text-align: end;
    margin-top: 15px;
}
#content .input{
    float: left;
    text-align: start;
    margin-top: 15px;
    min-height: 78px;
}
#content .input input[type="date" i]{
    text-align: center;
}
#content .input input{
    margin: 0px;
    margin-left: 5px;
}

@media (max-width: 767px){
    #content select{
        width: 60%;
    }
    #content option{
        font-size: medium;
    }
}
@media (max-width: 577px){
    #posting .label{
        float: left;
        width: 50%;
        font-size: revert;
    }
    #posting .input{
        float: left;
        width: 50%;
        font-size: revert;
    }
    #transfer .label{
        float: left;
        width: 50%;
        font-size: revert;
    }
    #transfer .input{
        float: left;
        width: 50%;
        font-size: revert;
    }
}
@media (max-width: 500px){
    #posting{
        font-size: smaller;
    }
}