#content{
    padding: 0px 10px;
}
#content h2{
    padding: 25px;
}
#content input{
    margin-top: 20px;
    margin-bottom: 40px;
}
#content select{
    width: 40%;
    margin-bottom: 40px;
}
#query span{
    padding: 5px;
}
#content #post_table{
    padding: 10px 0px;
}
#content .table{
    text-align: center;
}
@media (max-width: 767px){
    #content select{
        width: 60%;
    }
    #content option{
        font-size: medium;
    }
}
@media (max-width: 577px){
    #content{
        font-size: revert;
    }
}
@media (max-width: 500px){
    #content{
        font-size: smaller;
    }
    #content table{
        font-size: smaller;
    }
}